.DS_Store
Lorem ipsum
Mam rozstępy na brzuchu
Mój mąż lubi cienkie laski
Syn mi dziś naubliżał
Córka pokazała środkowy palec
Julka nawyzywała mnie, awanturując się na pół osiedla. Był już wieczór i wszyscy w domach. 